.DS_Store
Thumbs.db
.idea/
.vscode/

backend/node_modules/
backend/dist/
backend/.env
backend/.vercel/

dramacircle/.dart_tool/
dramacircle/build/
dramacircle/.idea/
dramacircle/.flutter-plugins
dramacircle/.flutter-plugins-dependencies
dramacircle/android/.gradle/
dramacircle/android/.kotlin/
dramacircle/android/local.properties

*.log
